@media screen and (max-width: 400px) {
    .wrapper__top__menu,
    .wrapper {
        padding: 0 15px;
    }

    .nav__top__left .nav__top__location::before {
        display: none;
    }

    /*header top*/
    .d-none {
        display: none;
    }

    .header__navbar_left {
        width: auto;
    }

    .header__menu_yet {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .sub__top__menu {
        top: 15px;
    }

    .header__navbar_right {
        display: none;
    }

    /*main-content*/
    .mb__version-none {
        display: none;
    }

    /*    logo*/
    .header__main__content {
        align-items: flex-start;
        margin-top: 10px;
        height: auto;
    }

    .mb__version__logo {
        width: 100%;
    }

    .logo__text {
        margin: 0;
    }

    .container__logo {
        width: 100%;
        justify-content: flex-start;
    }

    .container__logo img {
        width: 36.78px;
        height: 40.2px;
        margin-right: 5px;
    }

    .container__logo p {
        letter-spacing: -0.5px;
    }

    /* forms and right*/
    .header__main__contWhats {
        width: auto;
        height: 63px;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .header__main__block .container__forms h2 {
        font-size: 15px;
        line-height: 16px;
        color: #0F2438;

    }

    .header__main__block .container__forms p {
        font-size: 11px;
        color: #0F2438;
    }

    .container__whatsApp p {
        width: 108px;
        height: 12px;
        font-family: Rubik;
        font-size: 9px;
        line-height: 12px;
    }

    .container__whatsApp {
        padding: 4px 10px;
    }

    /*    header block 2----------------*/
    .header__logHeartBasket {
        display: none;
    }

    .header__footer__box {
        width: 34px;
        height: 34px;
        padding: 10px 7px;
    }

    .header__footer__box::after {
        display: none;
    }

    .header__footer__button {
        width: 34px;
        height: 34px;
        padding: 11px;
    }

    .header__footer__button {
        display: none;
    }

    .btn {
        display: block;
    }

    .header__footer__forms > input[type=text] {
        width: 100%;
        height: 34px;
    }

    .header__footer__forms {
        margin-right: 0;
    }

    input[placeholder] {
        padding-right: 75px;
        text-overflow: ellipsis;
    }


    /*slider*/
    .slider__action {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .main__slider {
        width: 335px;
        height: 195px;
        padding: 7px;
        margin-bottom: 10px;
    }

    .sleder__left {
        width: 144px;
        height: auto;
        /*margin-left: 15px;*/
    }


    .sleder__left h5 {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;

    }

    .sleder__left p {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 15px;
    }


    .sleder__left > span {
        font-size: 23px;
        line-height: 23px;
    }

    .sleder__left > span > span {
        font-size: 14px;
        line-height: 16px;
    }

    .sleder__left .slider__button {
        width: 124px;
        height: 34px;
        left: 30px;
        top: 295px;
        margin-top: 10px;
    }

    .sleder__left .slider__button img {
        margin-right: 7px;
    }

    .sleder__img {
        width: auto;
        height: auto;
    }

    .sleder__img img {
        width: 131px;
        height: 111px;
        margin: 0;
        padding: 0;
    }

    .slider__radio > input {
        width: 12px;
        height: 12px;
        margin: 10px 5px;
    }


    /*    */
    .main__slider__content {
        justify-content: space-around;
        height: 155px;
    }

    .main__slider__content::after {
        display: none;
    }

    .main__slider__content::before {
        display: none;
    }

    /*  main__action під слайдом*/
    .main__action {
        flex-direction: row;
    }

    .mb__margin {
        margin-right: 10px;
    }

    .action {
        width: 250px;
        height: 145px;

    }

    /*    */
    .action h6 {
        font-size: 12px;
        line-height: 14px;
        color: #0F2438;
    }

    .action__img-txt {
        margin-top: 10px;
    }

    .action__img-txt img {
        width: 58px;
        height: 54px;
    }

    .action__block-txt p {
        font-size: 12px;
        line-height: 18px;
    }

    .action__block-txt > span {
        font-size: 10px;
        line-height: 12px;
    }

    .action__cart > span {
        font-size: 15px;
        margin-right: 16px;
    }

    .action__cart > span > span {
        font-size: 12px;
    }

    .action__cart-img {
        width: 32px;
        height: 32px;
    }

    .action__cart-img img {
        width: 12px;
        height: 12px;
    }

    /*  section__slider-two  */
    .slider__action {
        margin-bottom: 20px;
    }

    /**/
    .directory__block {
        width: 250px;
        height: 126px;
        margin-right: 10px;
    }

    .directory__content h6 {
        font-size: 16px;
        line-height: 19px;
        margin-top: 15px;
        margin-bottom: 10px;

    }

    .directory__content > span {
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 15px;
    }


    .directory__content > button {
        width: 72px;
        height: 24px;
        font-size: 12px;
        line-height: 14px;
    }

    .directory__img img {
        width: 74px;
        height: 97px;
    }


    .arrow__left > span::before {
        display: none;
    }

    .arrow__right > span::after {
        display: none;
    }

    .directory__content {
        width: 156px;
        padding-left: 15px;
    }


    /*    btn*/
    .section__slider-two {
        margin-bottom: 30px;
    }

    .btnSectionBG {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 20px;
    }


    .btnSection {
        font-size: 14px;
        line-height: 16px;
        padding: 10px 20px;
    }

    .btnSectionCentr {
        padding: 10px 20px;
    }

    /*/section cards/*/
    .cards__wrap__tree {
        display: flex;
    }

    .d_card-none {
        display: none;
    }

    .cards__wrap__tree-hr {
        display: block;
    }

    /*    .................*/
    .card__wrap {
        width: 138px;
        height: 266px;
    }

    .sell {
        padding: 1px 2px;
        font-size: 10px;
    }

    .card__wrap > img {
        width: 138px;
        height: 120px;
        margin-bottom: 2px;
    }

    .card__star > img {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }

    .card__star > span {
        font-size: 10px;
        margin-right: 6px;
    }

    .card__star > p {
        font-size: 10px;
        line-height: 12px;
    }

    .card__wrap > p {
        margin-top: 5px;
        font-size: 12px;
        line-height: 17px;
    }

    .card__wrap > span {
        margin-top: 34px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
    }

    .card__wrap > a {
        font-size: 12px;
        line-height: 14px;
    }

    .card_icon_btn .slider__button {
        width: 110px;
        height: 35px;
        margin-right: 11px;
        font-size: 10px;
    }

    .card_icon_btn .slider__button > img {
        width: 12px;
        height: 12px;
        margin-right: 7px;
    }

    .card__fluctuation {
        display: none;
    }


    /*    cards two*/
    .cards__sell {
        margin-top: 27px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 16px;
        margin-right: 5px;
    }

    .cards__sell > span > span {
        font-size: 10px;
        line-height: 12px;
    }

    .cards__wrap__tree,
    .cards__wrap__block {
        margin-top: 15px;
        margin-bottom: 25px

    }

/*    btn*/

    .cards__wrap__footer button{
        font-size: 12px;
        line-height: 14px;
        padding: 10px 40px;
    }



}
